<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Imageboard</title>
    {% endif %}
</head>
<body>
    <div class="sidebar">
        <div class="logo">logo here</div>
        <fieldset>
            <legend>Imageboard</legend>
                <a href="/">home</a><br>
        </fieldset>
        <fieldset>
            <legend>Boards</legend>
                <a href="/b/">/b/ - random</a><br>
                <a href="/a/">/a/ - anime</a><br>
                <a href="/v/">/v/ - vidya</a><br>
                <a href="/fa/">/fa/ - fashion</a><br>
        </fiedset>
    </div>

        {% block content %}{% endblock %}
</body>
</html>
